In [12]:
import pandas as pd
import geopandas as gpd
import numpy as np

zcta = pd.read_csv('Maryland_Census_Data_-_ZIP_Code_Tabulation_Areas__ZCTAs_.csv')
covid = pd.read_csv('COVID_Cleaned_Transposed.csv')

print(zcta.columns)

Index(['OBJECTID_1', 'ZCTA5CE10', 'FIRST_STAT', 'FIRST_GEOI', 'FIRST_CLAS',
       'FIRST_MTFC', 'FIRST_FUNC', 'ZCTA5N', 'STATE', 'AREALAND', 'AREAWATR',
       'POP100', 'HU100', 'NHW', 'NHB', 'NHAI', 'NHA', 'NHNH', 'NHO', 'NHT',
       'HISP', 'PNHW', 'PNHB', 'PNHAI', 'PNHA', 'PNHNH', 'PNHO', 'PNHT',
       'PHISP', 'POP65_', 'PCTPOP65_', 'MEDAGE', 'VACNS', 'PVACNS', 'PHOWN',
       'PWOMORT', 'PRENT', 'PLT18SP', 'REPORT_2_P', 'REPORT_9_P'],
      dtype='object')

In [13]:
latestCases = pd.DataFrame()
covid = covid.sort_values(by=['Zip Code'])
latestCases['Zip Code'] = covid['Zip Code'].astype(int)
#latestCases['MHINC'] = incomeMeans
#latestCases['Pop2010'] = popSums
latestCases['TotalCases'] = covid.iloc[:,-1].astype(int)
print(latestCases)

     Zip Code  TotalCases
0       20010           0
1       20015           0
2       20037           0
3       20074           0
4       20161           0
..        ...         ...
511     21917         134
512     21918         208
513     21919         143
514     21921        2875
515     21930           0

[516 rows x 2 columns]

In [14]:
zcta = zcta.rename(columns={'ZCTA5N':'Zip Code','POP100':'Pop2010','PCTPOP65_':'PCTPOP65'})
zcta = zcta.iloc[:,7:38]
zcta = zcta.drop(columns={'STATE'})
print(zcta)

     Zip Code   AREALAND  AREAWATR  Pop2010  HU100    NHW    NHB  NHAI   NHA  \
0       20601  115635266    387684    24156   8722   9785  11146   155   880
1       20602   35830723    352762    24955   9736   8466  13054   116   731
2       20603   44239637    219356    28967  10317   9625  15025    98  1446
3       20606    7501011   1248760      431    230    377     45     1     4
4       20607   54357590    448221     9802   3504   2165   6321    33   560
..        ...        ...       ...      ...    ...    ...    ...   ...   ...
463     21918   45741330   6628177     4284   1589   4096     55     6    30
464     21919  112736603  22553121     3467   2179   3321     43    14     8
465     21920    1290392         0      257    100    228     17     0     0
466     21921  244939298  14098236    44471  17232  36707   3953    98   673
467     21930    1907039    186920       94     58     67     21     0     1

     NHNH  ...  PHISP  POP65_  PCTPOP65  MEDAGE  VACNS  PVACNS  PHOWN  \
0      11  ...    5.3    1922       8.0    37.3    376     4.3   71.1
1      15  ...    6.1    1964       7.9    32.6    769     7.9   59.7
2      24  ...    5.5    1400       4.8    34.5    531     5.1   73.8
3       0  ...    0.9     108      25.1    49.1     15     6.5   49.7
4       3  ...    4.9     847       8.6    40.9    172     4.9   83.1
..    ...  ...    ...     ...       ...     ...    ...     ...    ...
463     2  ...    1.1     481      11.2    41.2     69     4.3   61.1
464     0  ...    1.2     676      19.5    47.1     84     3.9   52.7
465     0  ...    0.8      27      10.5    42.6      8     8.0   40.2
466    20  ...    4.5    4818      10.8    36.7    892     5.2   51.9
467     0  ...    2.1      22      23.4    50.3      8    13.8   23.9

     PWOMORT  PRENT  PLT18SP
0       11.2   19.9     30.4
1        9.0   34.4     43.6
2        4.7   22.6     29.9
3       39.3   18.1     31.2
4       10.3    7.4     22.1
..       ...    ...      ...
463     30.0   12.8     24.2
464     39.5   12.9     21.7
465     41.3   31.5     26.6
466     24.5   31.3     34.5
467     54.2   47.8     21.4

[468 rows x 30 columns]

In [15]:
zcta.reset_index(drop=True,inplace=True)
zcta = zcta.append({'Zip Code':21287,'PCTPOP65':0,'Pop2010':0},ignore_index=True)
zcta = zcta.fillna(0)
print(zcta)

     Zip Code     AREALAND    AREAWATR  Pop2010    HU100      NHW      NHB  \
0     20601.0  115635266.0    387684.0  24156.0   8722.0   9785.0  11146.0
1     20602.0   35830723.0    352762.0  24955.0   9736.0   8466.0  13054.0
2     20603.0   44239637.0    219356.0  28967.0  10317.0   9625.0  15025.0
3     20606.0    7501011.0   1248760.0    431.0    230.0    377.0     45.0
4     20607.0   54357590.0    448221.0   9802.0   3504.0   2165.0   6321.0
..        ...          ...         ...      ...      ...      ...      ...
464   21919.0  112736603.0  22553121.0   3467.0   2179.0   3321.0     43.0
465   21920.0    1290392.0         0.0    257.0    100.0    228.0     17.0
466   21921.0  244939298.0  14098236.0  44471.0  17232.0  36707.0   3953.0
467   21930.0    1907039.0    186920.0     94.0     58.0     67.0     21.0
468   21287.0          0.0         0.0      0.0      0.0      0.0      0.0

      NHAI     NHA  NHNH  ...  PHISP  POP65_  PCTPOP65  MEDAGE  VACNS  PVACNS  \
0    155.0   880.0  11.0  ...    5.3  1922.0       8.0    37.3  376.0     4.3
1    116.0   731.0  15.0  ...    6.1  1964.0       7.9    32.6  769.0     7.9
2     98.0  1446.0  24.0  ...    5.5  1400.0       4.8    34.5  531.0     5.1
3      1.0     4.0   0.0  ...    0.9   108.0      25.1    49.1   15.0     6.5
4     33.0   560.0   3.0  ...    4.9   847.0       8.6    40.9  172.0     4.9
..     ...     ...   ...  ...    ...     ...       ...     ...    ...     ...
464   14.0     8.0   0.0  ...    1.2   676.0      19.5    47.1   84.0     3.9
465    0.0     0.0   0.0  ...    0.8    27.0      10.5    42.6    8.0     8.0
466   98.0   673.0  20.0  ...    4.5  4818.0      10.8    36.7  892.0     5.2
467    0.0     1.0   0.0  ...    2.1    22.0      23.4    50.3    8.0    13.8
468    0.0     0.0   0.0  ...    0.0     0.0       0.0     0.0    0.0     0.0

     PHOWN  PWOMORT  PRENT  PLT18SP
0     71.1     11.2   19.9     30.4
1     59.7      9.0   34.4     43.6
2     73.8      4.7   22.6     29.9
3     49.7     39.3   18.1     31.2
4     83.1     10.3    7.4     22.1
..     ...      ...    ...      ...
464   52.7     39.5   12.9     21.7
465   40.2     41.3   31.5     26.6
466   51.9     24.5   31.3     34.5
467   23.9     54.2   47.8     21.4
468    0.0      0.0    0.0      0.0

[469 rows x 30 columns]

In [16]:

zcta['Zip Code'] = zcta['Zip Code'].astype(int)

print(zcta)

     Zip Code     AREALAND    AREAWATR  Pop2010    HU100      NHW      NHB  \
0       20601  115635266.0    387684.0  24156.0   8722.0   9785.0  11146.0
1       20602   35830723.0    352762.0  24955.0   9736.0   8466.0  13054.0
2       20603   44239637.0    219356.0  28967.0  10317.0   9625.0  15025.0
3       20606    7501011.0   1248760.0    431.0    230.0    377.0     45.0
4       20607   54357590.0    448221.0   9802.0   3504.0   2165.0   6321.0
..        ...          ...         ...      ...      ...      ...      ...
464     21919  112736603.0  22553121.0   3467.0   2179.0   3321.0     43.0
465     21920    1290392.0         0.0    257.0    100.0    228.0     17.0
466     21921  244939298.0  14098236.0  44471.0  17232.0  36707.0   3953.0
467     21930    1907039.0    186920.0     94.0     58.0     67.0     21.0
468     21287          0.0         0.0      0.0      0.0      0.0      0.0

      NHAI     NHA  NHNH  ...  PHISP  POP65_  PCTPOP65  MEDAGE  VACNS  PVACNS  \
0    155.0   880.0  11.0  ...    5.3  1922.0       8.0    37.3  376.0     4.3
1    116.0   731.0  15.0  ...    6.1  1964.0       7.9    32.6  769.0     7.9
2     98.0  1446.0  24.0  ...    5.5  1400.0       4.8    34.5  531.0     5.1
3      1.0     4.0   0.0  ...    0.9   108.0      25.1    49.1   15.0     6.5
4     33.0   560.0   3.0  ...    4.9   847.0       8.6    40.9  172.0     4.9
..     ...     ...   ...  ...    ...     ...       ...     ...    ...     ...
464   14.0     8.0   0.0  ...    1.2   676.0      19.5    47.1   84.0     3.9
465    0.0     0.0   0.0  ...    0.8    27.0      10.5    42.6    8.0     8.0
466   98.0   673.0  20.0  ...    4.5  4818.0      10.8    36.7  892.0     5.2
467    0.0     1.0   0.0  ...    2.1    22.0      23.4    50.3    8.0    13.8
468    0.0     0.0   0.0  ...    0.0     0.0       0.0     0.0    0.0     0.0

     PHOWN  PWOMORT  PRENT  PLT18SP
0     71.1     11.2   19.9     30.4
1     59.7      9.0   34.4     43.6
2     73.8      4.7   22.6     29.9
3     49.7     39.3   18.1     31.2
4     83.1     10.3    7.4     22.1
..     ...      ...    ...      ...
464   52.7     39.5   12.9     21.7
465   40.2     41.3   31.5     26.6
466   51.9     24.5   31.3     34.5
467   23.9     54.2   47.8     21.4
468    0.0      0.0    0.0      0.0

[469 rows x 30 columns]

In [17]:
print(latestCases)

     Zip Code  TotalCases
0       20010           0
1       20015           0
2       20037           0
3       20074           0
4       20161           0
..        ...         ...
511     21917         134
512     21918         208
513     21919         143
514     21921        2875
515     21930           0

[516 rows x 2 columns]

In [18]:
zipData = pd.merge_ordered(zcta,latestCases,on='Zip Code',fill_method='none')
print(zipData)

     Zip Code     AREALAND    AREAWATR  Pop2010    HU100      NHW     NHB  \
0       20010          NaN         NaN      NaN      NaN      NaN     NaN
1       20015          NaN         NaN      NaN      NaN      NaN     NaN
2       20037          NaN         NaN      NaN      NaN      NaN     NaN
3       20074          NaN         NaN      NaN      NaN      NaN     NaN
4       20161          NaN         NaN      NaN      NaN      NaN     NaN
..        ...          ...         ...      ...      ...      ...     ...
531     21918   45741330.0   6628177.0   4284.0   1589.0   4096.0    55.0
532     21919  112736603.0  22553121.0   3467.0   2179.0   3321.0    43.0
533     21920    1290392.0         0.0    257.0    100.0    228.0    17.0
534     21921  244939298.0  14098236.0  44471.0  17232.0  36707.0  3953.0
535     21930    1907039.0    186920.0     94.0     58.0     67.0    21.0

     NHAI    NHA  NHNH  ...  POP65_  PCTPOP65  MEDAGE  VACNS  PVACNS  PHOWN  \
0     NaN    NaN   NaN  ...     NaN       NaN     NaN    NaN     NaN    NaN
1     NaN    NaN   NaN  ...     NaN       NaN     NaN    NaN     NaN    NaN
2     NaN    NaN   NaN  ...     NaN       NaN     NaN    NaN     NaN    NaN
3     NaN    NaN   NaN  ...     NaN       NaN     NaN    NaN     NaN    NaN
4     NaN    NaN   NaN  ...     NaN       NaN     NaN    NaN     NaN    NaN
..    ...    ...   ...  ...     ...       ...     ...    ...     ...    ...
531   6.0   30.0   2.0  ...   481.0      11.2    41.2   69.0     4.3   61.1
532  14.0    8.0   0.0  ...   676.0      19.5    47.1   84.0     3.9   52.7
533   0.0    0.0   0.0  ...    27.0      10.5    42.6    8.0     8.0   40.2
534  98.0  673.0  20.0  ...  4818.0      10.8    36.7  892.0     5.2   51.9
535   0.0    1.0   0.0  ...    22.0      23.4    50.3    8.0    13.8   23.9

     PWOMORT  PRENT  PLT18SP  TotalCases
0        NaN    NaN      NaN         0.0
1        NaN    NaN      NaN         0.0
2        NaN    NaN      NaN         0.0
3        NaN    NaN      NaN         0.0
4        NaN    NaN      NaN         0.0
..       ...    ...      ...         ...
531     30.0   12.8     24.2       208.0
532     39.5   12.9     21.7       143.0
533     41.3   31.5     26.6         NaN
534     24.5   31.3     34.5      2875.0
535     54.2   47.8     21.4         0.0

[536 rows x 31 columns]

In [19]:
zipData.dropna(inplace=True)

In [20]:
zipData.to_csv('ZipData_CLEANED.csv')

In [21]:
zipData

,Zip Code,AREALAND,AREAWATR,Pop2010,HU100,NHW,NHB,NHAI,NHA,NHNH,...,POP65_,PCTPOP65,MEDAGE,VACNS,PVACNS,PHOWN,PWOMORT,PRENT,PLT18SP,TotalCases
7,20601,115635266.0,387684.0,24156.0,8722.0,9785.0,11146.0,155.0,880.0,11.0,...,1922.0,8.0,37.3,376.0,4.3,71.1,11.2,19.9,30.4,1796.0
8,20602,35830723.0,352762.0,24955.0,9736.0,8466.0,13054.0,116.0,731.0,15.0,...,1964.0,7.9,32.6,769.0,7.9,59.7,9.0,34.4,43.6,1985.0
9,20603,44239637.0,219356.0,28967.0,10317.0,9625.0,15025.0,98.0,1446.0,24.0,...,1400.0,4.8,34.5,531.0,5.1,73.8,4.7,22.6,29.9,2104.0
11,20606,7501011.0,1248760.0,431.0,230.0,377.0,45.0,1.0,4.0,0.0,...,108.0,25.1,49.1,15.0,6.5,49.7,39.3,18.1,31.2,12.0
12,20607,54357590.0,448221.0,9802.0,3504.0,2165.0,6321.0,33.0,560.0,3.0,...,847.0,8.6,40.9,172.0,4.9,83.1,10.3,7.4,22.1,853.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,21917,20265281.0,146369.0,2520.0,907.0,2387.0,30.0,2.0,17.0,1.0,...,310.0,12.3,42.0,39.0,4.3,68.2,22.1,12.5,16.7,134.0
531,21918,45741330.0,6628177.0,4284.0,1589.0,4096.0,55.0,6.0,30.0,2.0,...,481.0,11.2,41.2,69.0,4.3,61.1,30.0,12.8,24.2,208.0
532,21919,112736603.0,22553121.0,3467.0,2179.0,3321.0,43.0,14.0,8.0,0.0,...,676.0,19.5,47.1,84.0,3.9,52.7,39.5,12.9,21.7,143.0
534,21921,244939298.0,14098236.0,44471.0,17232.0,36707.0,3953.0,98.0,673.0,20.0,...,4818.0,10.8,36.7,892.0,5.2,51.9,24.5,31.3,34.5,2875.0
535,21930,1907039.0,186920.0,94.0,58.0,67.0,21.0,0.0,1.0,0.0,...,22.0,23.4,50.3,8.0,13.8,23.9,54.2,47.8,21.4,0.0